<?php

namespace Rvdlee\ZfImageOptimiser;

use Rvdlee\ZfImageOptimiser\Adapter\Gifsicle;
use Rvdlee\ZfImageOptimiser\Adapter\JpegOptim;
use Rvdlee\ZfImageOptimiser\Adapter\Optipng;
use Rvdlee\ZfImageOptimiser\Adapter\Pngquant2;
use Zend\Validator\File\Extension;
use Zend\Validator\File\IsImage;
use Zend\Validator\File\MimeType;

return [
    'rvdlee' => [
        'zf-image-optimiser' => [
            Gifsicle::class  => [
                'binary-options'  => [],
                'validator-chain' => [
                    ['name' => IsImage::class],
                    [
                        'name'    => Extension::class,
                        'options' => [
                            'case'       => false,
                            'extensions' => 'gif',
                        ],
                    ],
                    [
                        'name'    => MimeType::class,
                        'options' => [
                            'mimeType' => ['image/gif'],
                        ],
                    ],
                ],
            ],
            JpegOptim::class => [
                'binary-options'  => [],
                'validator-chain' => [
                    ['name' => IsImage::class],
                    [
                        'name'    => Extension::class,
                        'options' => [
                            'case'       => false,
                            'extensions' => 'jpg',
                        ],
                    ],
                    [
                        'name'    => MimeType::class,
                        'options' => [
                            'mimeType' => ['image/jpeg'],
                        ],
                    ],
                ],
            ],
            Optipng::class   => [
                'binary-options'  => [
                    '-o1',
                    '-v',
                ],
                'validator-chain' => [
                    ['name' => IsImage::class],
                    [
                        'name'    => Extension::class,
                        'options' => [
                            'case'       => false,
                            'extensions' => 'png',
                        ],
                    ],
                    [
                        'name'    => MimeType::class,
                        'options' => [
                            'mimeType' => ['image/png'],
                        ],
                    ],
                ],
            ],
            Pngquant2::class => [
                'binary-options'  => [
                    '--verbose',
                    '--force',
                    '--strip',
                    '--speed 1',
                    '--quality=75-100',
                ],
                'validator-chain' => [
                    ['name' => IsImage::class],
                    [
                        'name'    => Extension::class,
                        'options' => [
                            'case'       => false,
                            'extensions' => 'png',
                        ],
                    ],
                    [
                        'name'    => MimeType::class,
                        'options' => [
                            'mimeType' => ['image/png'],
                        ],
                    ],
                ],
            ],
            'enabled'        => [
                Gifsicle::class,
                JpegOptim::class,
                Optipng::class,
                Pngquant2::class,
            ],
        ],
    ],
];